.display-info {
  // background-color: skyblue;
  width: 100%;
  height: 34%;
  display: flex;
  flex-flow: row wrap;

  &__degree {
    // background-color: pink;
    background-color: $base-color-dark;
    width: 50%;
    padding: 2% 3%;
    height: 100%;

    &--location {
      font-size: 90%;
      font-weight: 600;
      margin: 1% 0 1%;
    }

    &--date,
    &--condition {
      font-size: 90%;
      font-weight: 200;
      margin: 1% 0 1%;
    }
    &--temp {
      font-size: 400%;
      font-weight: 600;
      margin: 1% 0 1%;
      -webkit-text-fill-color: white;
      -webkit-text-stroke: 1px black;

      sup {
        font-size: -300%;
      }
    }
  }

  &__image {
    // background-color: yellowgreen;
    background-color: $base-color-dark;
    width: 50%;
    height: 100%;
    display: block;

    img {
      width: 100%;
    }
  }

  @media only screen and (min-width: 600px) {
    height: 42%;
  }
}
