footer {
  // background-color: green;
  width: 100%;
  height: 6%;
  font-size: 80%;
  font-weight: 600;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  // background-color: white;
  display: block;
  text-align: center;
}
.darksky {
  // background-color: chocolate;
  display: block;
  text-align: center;
}
