.root {
  // padding-top:5%;
  // padding-bottom:4%;
  height: 100vh;
  min-height: 500px;
  background: url(/src/images/annj-ad-uOtBYsbqCmg-unsplash.jpg) no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
}
