* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  background-color: $base-color;
  background: linear-gradient(
    to right,
    rgb(121, 145, 187),
    rgb(174, 201, 248),
    rgb(148, 186, 252)
  );
  font-family: 'Montserrat', sans-serif;
  color: $text-color-pri;
}
